.ContainerNight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./../public/night.webp");
}
.ContainerDay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./../public/day.webp");
}
.App {
  text-align: center;
  width: 54rem;
  height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  height: 20rem;
  width: 56rem;
  display: flex;
  background-color: #266dbe3f;
  border-radius: 15px;
  box-shadow: inset 0px 0px 7px black;
  backdrop-filter: blur(2px);
}
.hourly {
  width: 54rem;
  height: 32rem;
  background-color: #59c1be55;
  border-radius: 0 0 15px 15px;
  box-shadow: inset 0px 0px 8px black;
  backdrop-filter: blur(2px);
}
.location {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.current-weather {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-current-weather > div > h4 {
  font-size: 2rem;
}
.content-current-weather > img {
  width: 6rem;
}
.country {
  font-weight: lighter;
}
.day-span {
  font-size: 0.7rem;
  margin-left: 1rem;
}
.current-temp {
  font-size: 2rem;
  font-weight: bold;
}
.current-main {
  font-size: 1.5rem;
}
.search-form > input {
  background: transparent;
  border: none;
  box-shadow: inset 0px 0px 7px black;
  border-radius: 10px;
  width: 15rem;
  height: 2.2rem;
  font-size: 1.2rem;
  text-indent: 5px;
}
.search-form > input:focus-within {
  outline: none;
  transform: scale(1.02);
  box-shadow: 0px 0px 12px black;
}
.search-form > button {
  margin-left: 1rem;
  width: 5.5rem;
  height: 2.2rem;
  background: #9faab61b;
  box-shadow: 0px 0px 5px black;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
.search-form > button:hover {
  cursor: pointer;
  background: #0d4b9238;
}
.search-form > input::placeholder {
  color: rgba(0, 0, 0, 0.795);
}

.current-location {
  margin-top: 1rem;
}
.current-location > button {
  width: 14rem;
  height: 2.2rem;
  background: #9faab61b;
  background-image: url("../public/location.png");
  background-size: 1.2rem;
  background-position: 1rem;
  background-repeat: no-repeat;
  text-indent: 25px;
  box-shadow: 0px 0px 5px black;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.1s ease-in;
}
.current-location > button:hover {
  cursor: pointer;
  background-size: 1.3rem;
}
.daily-card {
  margin-top: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bolder;
  height: 3rem;
  font-size: 1.2rem;
}
.daily-card .temp-content > img {
  width: 2.8rem;
}
.temp-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 7rem;
}
.day-name {
  text-align: start;
  width: 6.5rem;
}
.hour {
  text-align: center;
  width: 5rem;
}

@media only screen and ((max-width: 950px)) {
  .App {
    width: 90vw;
    height: 90vh;
  }
  .header {
    min-height: 40%;
    width: 95vw;
    flex-direction: column;
    align-items: center;
  }
  .hourly {
    width: 88vw;
    height: 50vh;
  }
  .current-weather {
    width: 100%;
    height: 50%;
  }
  .location {
    width: 100%;
    height: 50%;
  }
  .daily-card {
    height: 5.2vh;
    font-size: 3.2vw;
  }
  .daily-card .temp-content > img {
    width: 8vw;
  }
  .temp-content {
    width: 18vw;
  }
  .content-current-weather {
    display: flex;
    align-items: center;
  }
  .content-current-weather > div > h4 {
    font-size: 6vw;
  }
  .content-current-weather > img {
    width: 20vw;
  }
  .day-span {
    font-size: 3vw;
    margin-left: 1.2vw;
  }
  .current-temp {
    font-size: 5vw;
  }
  .current-main {
    font-size: 3.5vw;
  }
  .current-location > button {
    width: 50vw;
    height: 5vh;
    font-size: 4vw;
    margin-bottom: 4vh;
  }
  .search-form > input {
    width: 60vw;
    height: 5vh;
    font-size: 4vw;
  }
  .search-form > button {
    margin-left: 1rem;
    width: 20vw;
    height: 5vh;
    font-size: 4vw;
  }
}
@media only screen and ((max-device-width: 950px)) {
  .App {
    width: 90vw;
    height: 90vh;
  }
  .header {
    min-height: 40%;
    width: 95vw;
    flex-direction: column;
    align-items: center;
  }
  .hourly {
    width: 88vw;
    height: 50vh;
  }
  .current-weather {
    width: 100%;
    height: 50%;
  }
  .location {
    width: 100%;
    height: 50%;
  }
  .daily-card {
    height: 5.2vh;
    font-size: 3.2vw;
  }
  .daily-card .temp-content > img {
    width: 8vw;
  }
  .temp-content {
    width: 18vw;
  }
  .content-current-weather {
    display: flex;
    align-items: center;
  }
  .content-current-weather > div > h4 {
    font-size: 6vw;
  }
  .content-current-weather > img {
    width: 20vw;
  }
  .day-span {
    font-size: 3vw;
    margin-left: 1.2vw;
  }
  .current-temp {
    font-size: 5vw;
  }
  .current-main {
    font-size: 3.5vw;
  }
  .current-location > button {
    width: 50vw;
    height: 5vh;
    font-size: 4vw;
    margin-bottom: 4vh;
  }
  .search-form > input {
    width: 60vw;
    height: 5vh;
    font-size: 4vw;
  }
  .search-form > button {
    margin-left: 1rem;
    width: 20vw;
    height: 5vh;
    font-size: 4vw;
  }
}
