.App {
  text-align: center;
  width: 40vw;
  height: 75vh;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header{
  border: 1px solid;
  height: 40%;
  width: 42vw;
  display: flex;
  background-color: rgb(245, 200, 38);
}
.hourly{
  width: 100%;
  border: 1px solid;
  height: 60%;
  background-color: rgb(35, 115, 186);
}
.location{
  border: 1px solid;
  width: 50%;
}
.current-weather{
  border: 1px solid;
  width: 50%;
}